<div class="mb-6">
  <%= link_to "Show All Categories", categories_path, class: "text-blue-600 hover:underline" %>
</div class= "text-balck bold" >
<h1>Books in  <%= @category.name %> category</h1>
<%= render "books/book" %>